<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->

    <%= render partial: "welcome/navigation" %>


    <!-- Header -->
    
    <%= render partial: "welcome/header" %>


    <!-- Services Section -->

    <%= render partial: "welcome/services" %>


    <!-- Portfolio Grid Section -->

    <%= render partial: "welcome/portfolio_grid_section" %>


    <!-- About Section -->

    <%= render partial: "welcome/about_us" %>


    <!-- Team Section -->
]
    <%= render partial: "welcome/team" %>

    <%#= render :template => 'team_members/index' %>
    <!-- Clients Aside -->

    <%= render partial: "welcome/clients" %>
    




    <!-- word rotator -->
    
    <section class="rw-wrapper">
    <h2 class="rw-sentence">

        <span>with a silent touch of</span>
        <div class="rw-words rw-words-2">
            <span>sugar</span>
            <span>spice</span>
            <span>colors</span>
            <span>Love</span>
            <span>wonder</span>
        </div>
    </h2>
    </section>
    


    <!-- Contact Section -->

    <%= render partial: "welcome/contact_us" %>


    <!-- Map Section -->

    <%= render partial: "welcome/map" %>

    
    <!-- Footer information -->

    <%= render partial: "welcome/footer" %>

    
    <!-- Login Information -->

    <%= render partial: "welcome/login_info" %>


    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <%= render partial: "welcome/portfolio" %>



    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assets/classie.js"></script>
    <script src="assets/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="assets/jqBootstrapValidation.js"></script>
    <script src="assets/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/agency.js"></script>

</body>

</html>

































// <script>
//   $(document).ready(function(){
//     $("#expand").on("hide.bs.collapse", function(){
//       $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
//     });
//     $("#expand").on("show.bs.collapse", function(){
//       $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
//     });
//   });
// </script>

// <script>
//     var originalLeave = $.fn.popover.Constructor.prototype.leave;
//     $.fn.popover.Constructor.prototype.leave = function(obj){
//       var self = obj instanceof this.constructor ?
//         obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
//       var container, timeout;

//       originalLeave.call(this, obj);

//       if(obj.currentTarget) {
//         container = $(obj.currentTarget).siblings('.popover')
//         timeout = self.timeout;
//         container.one('mouseenter', function(){
//           //We entered the actual popover – call off the dogs
//           clearTimeout(timeout);
//           //Let's monitor popover content instead
//           container.one('mouseleave', function(){
//             $.fn.popover.Constructor.prototype.leave.call(self, self);
//           });
//         })
//       }
//     };


//     $('body').popover({ selector: '[data-popover]', trigger: 'click hover', placement: 'top', delay: {show: 50, hide: 400}});

// </script>
